<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxxx.server.mapper.EmployeeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xxxx.server.pojo.Employee">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="gender" property="gender" />
        <result column="birthday" property="birthday" />
        <result column="idCard" property="idCard" />
        <result column="wedlock" property="wedlock" />
        <result column="nationId" property="nationId" />
        <result column="nativePlace" property="nativePlace" />
        <result column="politicId" property="politicId" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="address" property="address" />
        <result column="departmentId" property="departmentId" />
        <result column="jobLevelId" property="jobLevelId" />
        <result column="posId" property="posId" />
        <result column="engageForm" property="engageForm" />
        <result column="tiptopDegree" property="tiptopDegree" />
        <result column="specialty" property="specialty" />
        <result column="school" property="school" />
        <result column="beginDate" property="beginDate" />
        <result column="workState" property="workState" />
        <result column="workID" property="workID" />
        <result column="contractTerm" property="contractTerm" />
        <result column="conversionTime" property="conversionTime" />
        <result column="notWorkDate" property="notWorkDate" />
        <result column="beginContract" property="beginContract" />
        <result column="endContract" property="endContract" />
        <result column="workAge" property="workAge" />
        <result column="salaryId" property="salaryId" />
    </resultMap>
    
    <resultMap id="EmployeeInfo" type="com.xxxx.server.pojo.Employee" extends="BaseResultMap">
        <association property="nation" javaType="com.xxxx.server.pojo.Nation">
            <id column="nid" property="id" />
            <result column="nname" property="name" />
        </association>
        <association property="politicsStatus" javaType="com.xxxx.server.pojo.PoliticsStatus">
            <id column="pid" property="id" />
            <result column="pname" property="name" />
        </association>
        <association property="department" javaType="com.xxxx.server.pojo.Department">
            <id column="did" property="id" />
            <result column="dname" property="name" />
        </association>
        <association property="joblevel" javaType="com.xxxx.server.pojo.Joblevel">
            <id column="jid" property="id" />
            <result column="jname" property="name" />
        </association>
        <association property="position" javaType="com.xxxx.server.pojo.Position">
            <id column="posid" property="id" />
            <result column="posname" property="name" />
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, gender, birthday, idCard, wedlock, nationId, nativePlace, politicId, email, phone, address, departmentId, jobLevelId, posId, engageForm, tiptopDegree, specialty, school, beginDate, workState, workID, contractTerm, conversionTime, notWorkDate, beginContract, endContract, workAge, salaryId
    </sql>

    <!--获取所有员工（分页）-->
    <select id="getEmployeeByPage" resultMap="EmployeeInfo">
        select
            e.*,
               n.id as nid,
               n.name as nname,
               p.id as pid,
               p.name as pname,
               d.id as did,
               d.name as dname,
               j.id as jid,
               j.name as jname,
               pos.id as posid,
               pos.name as posname
        from
            t_employee e,
             t_nation n,
             t_politics_status p,
             t_department d,
             t_joblevel j,
             t_position pos
        where
            e.nationId = n.id
            and e.politicId = p.id
            and e.jobLevelId = j.id
            and e.departmentId = d.id
            and e.posId = pos.id
            <if test="employee.name != null and '' != employee.name ">
                AND e.name like concat('%',#{employee.name},'%')
            </if>
            <if test="employee.politicId != null">
                AND e.poloticId = #{employee.politicId}
            </if>
            <if test="employee.nationId != null">
                AND e.nationId = #{employee.nationId}
            </if>
            <if test="employee.joblevelId != null">
                AND e.joblevelId = #{employee.joblevelId}
            </if>
            <if test="employee.posId != null" >
                AND e.posId = #{employee.posId}
            </if>
            <if test="employee.departmentId != null">
                AND e.departmentId = #{employee.departmentId}
            </if>
            <if test="null != employee.engageForm and '' != employee.engageForm">
                AND e.engageForm = #{employee.engageForm}
            </if>
            <if test="null != beginDateScope and 2 == beginDateScope.length">
                AND e.beginDate between #{beginDateScope[0]} and #{beginDateScope[1]}
            </if>
            ORDER BY e.id
    </select>

</mapper>
